<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpNF0BaquN-snxIsj7POFlkScfJzou8pQ</string>
	<key>GCM_SENDER_ID</key>
	<string>427751402464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBlocPhoneAuthFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-bloc-phone-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-bloc-phone-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427751402464:ios:8906e03625b2f8be35d985</string>
</dict>
</plist>